@model IEnumerable<StagingTracker.Data.Receiving>

@{
    ViewData["Title"] = "Receiving";
}

<br/>
<h1>Receiving</h1>
<br/>

<p>
    <a asp-action="Create" class="btn btn-success">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PurchaseOrderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantityReceived)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReceivedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupplierId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PurchaseOrderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantityReceived)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReceivedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupplierId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductId)
            </td>
            <td>
                <a asp-action="Details" class="btn btn-secondary" asp-route-id="@item.ReceivingId">Details</a>
                <a asp-action="Edit" class=" btn btn-warning" asp-route-id="@item.ReceivingId">Edit</a>
                @* <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.ReceivingId">Delete</a> *@
                <button data-itemid="@item.ReceivingId" class="btn btn-danger deleteBtn" type="button">Delete</button>
            </td>
        </tr>
}
    </tbody>
</table>

@* Form and JQuery function for Delete popup window *@
<form asp-action="Delete" id="receivingDeleteForm" method="post">
    <input type="hidden" id="ReceivingId" name="id" />
</form>

@section Scripts {
    <script>
        $(function(){
            new DataTable('.table');

            $('.deleteBtn').click(function(e){
                Swal.fire({
                    title: "Are you sure?",
                    text: "You won't be able to revert this!",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#3085d6",
                    cancelButtonColor: "#d33",
                    confirmButtonText: "Yes, delete it!"
                    }).then((result) => {
                    if (result.isConfirmed) {
                        Swal.fire({
                        title: "Deleted!",
                        text: "Your file has been deleted.",
                        icon: "success"
                        });
                        var btn = $(this);
                        var id = btn.data('itemid');
                        $('#ReceivingId').val(id);
                        $('#receivingDeleteForm').submit();
                    }
                });
            })
        })
    </script>
}