@model IEnumerable<StagingTracker.Data.Receiving>

@{
    ViewData["Title"] = "Receiving";
}

<br/>
<h1>Receiving</h1>
<br/>

<p>
    <a asp-action="Create" class="btn btn-success">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PurchaseOrderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantityReceived)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReceivedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupplierId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PurchaseOrderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantityReceived)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReceivedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupplierId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.ProductId)
            </td>
            <td>
                <a asp-action="Edit" class=" btn btn-warning" asp-route-id="@item.ReceivingId">Edit</a>
                <a asp-action="Details" class="btn btn-primary" asp-route-id="@item.ReceivingId">Details</a>
                <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.ReceivingId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
