@model IEnumerable<StagingTracker.Data.Dispatching>

@{
    ViewData["Title"] = "Dispatching";
}

<br/>
<h1>Dispatching</h1>
<br/>

<p>
    <a class="btn btn-success" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DispatchId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantityDispatched)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DispatchDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarrierId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductId)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DispatchId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantityDispatched)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DispatchDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarrierId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderId)
                @* item.Order.OrderId *@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductId)
                @* item.Product.ProductId *@
            </td>
            <td>
                <a class="btn btn-secondary" asp-action="Details" asp-route-id="@item.DispatchId">Details</a>
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.DispatchId">Edit</a>
                @* <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.DispatchId">Delete Old</a> *@
                <button data-itemid="@item.DispatchId" class="btn btn-danger deleteBtn" type="button">Delete</button>
            </td>
        </tr>
}
    </tbody>
</table>

@* Form and JQuery function for Delete popup window and datatables *@
<form asp-action="Delete" id="dispatchDeleteForm" method="post">
    <input type="hidden" id="DispatchId" name="id" />
</form>

@section Scripts {
    <script>
        $(function(){
            new DataTable('.table');
            @* $('.table').DataTable(); *@

            $('.deleteBtn').click(function(e){
                Swal.fire({
                    title: "Are you sure?",
                    text: "You won't be able to revert this!",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#3085d6",
                    cancelButtonColor: "#d33",
                    confirmButtonText: "Yes, delete it!"
                    }).then((result) => {
                    if (result.isConfirmed) {
                        Swal.fire({
                        title: "Deleted!",
                        text: "Your file has been deleted.",
                        icon: "success"
                        });
                        var btn = $(this);
                        var id = btn.data('itemid');
                        $('#DispatchId').val(id);
                        $('#dispatchDeleteForm').submit();
                    }
                });
            })
        })
    </script>
}