@model IEnumerable<StagingTracker.Data.Dispatching>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.QuantityDispatched)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DispatchDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarrierId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.QuantityDispatched)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DispatchDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarrierId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order.OrderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.ProductId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DispatchId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DispatchId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DispatchId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
