@model IEnumerable<StagingTracker.Data.OrderManagement>

@{
    ViewData["Title"] = "Order Managament";
}

<br/>
<h1>Order Managament</h1>
<br/>

<p>
    <a class="btn btn-success" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustomerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequiredDispatchDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequiredDispatchDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.OrderId">Edit</a>
                <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.OrderId">Details</a>
                @* <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.OrderId">Delete Old</a> *@
                <button data-itemid="@item.OrderId" class="btn btn-danger deleteBtn" type="button">Delete</button>
            </td>
        </tr>
}
    </tbody>
</table>

<form asp-action="Delete" id="orderDeleteForm" method="post">
    <input type="hidden" id="OrderId" name="id" />
</form>

@section Scripts {
    <script>
        $(function(){
            $('.deleteBtn').click(function(e){
                Swal.fire({
                    title: "Are you sure?",
                    text: "You won't be able to revert this!",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#3085d6",
                    cancelButtonColor: "#d33",
                    confirmButtonText: "Yes, delete it!"
                    }).then((result) => {
                    if (result.isConfirmed) {
                        Swal.fire({
                        title: "Deleted!",
                        text: "Your file has been deleted.",
                        icon: "success"
                        });
                        var btn = $(this);
                        var id = btn.data('itemid');
                        $('#OrderId').val(id);
                        $('#orderDeleteForm').submit();
                    }
                });
            })
        })
    </script>
}